.carritoContenedor{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    gap: 2%;
    padding: 3%;
    .mostrarProductos{
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        width: 50%;
        height: 100%;
        background-color: rgb(175, 175, 175);
        align-items: center;
        justify-content: space-between;
        gap: 4%;
        padding: 2%;
        color: black;
        img{
            display: flex;
            width: 20%;
        }
        h2{
            color: black;
            font-size: 150%;
            font-weight: bold;
        }
        button{
            text-decoration: none;
            font-weight: bold;
            width: 70%;
            height: 15%;
            border-radius: 5%;
            color: black;
            background-color: white;
            text-decoration: none;
            color:inherit;
        }
    .productoContainer{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 3%;
        padding: 2%;
        #produc{
            font-size: 100%;
            display: flex;
           align-items: center;
           margin-top: 3%;
        }
        img{
            display: flex;
            width: 5%;
            align-items: center;
        }
    }
        
 
    }
    .resumenDeCompra{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 5px;
        width: 50%;
        height: 50%;
        background-color: rgb(175, 175, 175);
        align-items: center;
        gap: 5%;
        color: black;
        padding: 2%;
        button{
            width: 70%;
        }

    }
}