.login{
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #023059, #0e182a); 
}
.contendorLogin{
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px ;
  height: 600px;
  max-width: 400px;
  background-color: white;
  border: 6px solid black;
  border-radius: 10px;
  gap: 20px;
  h1{
    font-size: 25PX;
    margin-bottom: 10px;
  }
  img {
    width: 200px;
    height: 200px;
  }
}
.infoMail{
  display: flex;
  align-items:  center;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  h2{
    margin-right: 15px;
    font-size: 17px;
    color:black;
    width: 400px;
  }
  p{
 margin-bottom: 0;
 margin-right: 12px;
}
a{
  margin-bottom: 0;
  margin-right: 12px; 
}
}
.infoPassword{
  margin-bottom: 20px;
}
h2{
  font-size: 20px;
}
input{
  width: 250px;
  height: 25px;
  border-radius: 14px;
  font-size: 15px;
}
.finalDePagina{
  display: flex;
}
#recordarme{
  margin-left: -60px;
  
}