@mixin inputstyle {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
}
.login{
  margin: 0;
  padding: 0;
  color: white;
  background: linear-gradient(to right, $colorPrincipal, $colorSecundario); 
}
.contendorLogin{
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px ;
  height: 600px;
  max-width: 400px;
  background-color: black;
  border: 3px solid white;
  border-radius: 10px;
  gap: 20px;
  h1{
    font-size: 25PX;
    margin-bottom: 10px;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
}
.username{
  input{
    @include inputstyle();
  }
}
.contraseña{
  input{
    @include inputstyle();

  }
}
input[type= submit]{
  border: none;
  outline: none;
  width: 100%;
  background-color: $colorPrincipal;
  color: white;
  
}
.finalDePagina{
  display: flex;
}
#recordarme{
  margin-left: -60px;
  
}