@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.menu {
  list-style-type: none;
  margin: 0;
  display: flex;
  width: 100%;
  height: 15vh;
  background-color: #011126;
  align-items: center;
  overflow: hidden;
}
.menu ul {
  padding: 10px;
  width: 100%;
  height: 15vh;
}
.menu li {
  width: 20%;
  list-style: none;
  display: inline;
  margin-right: 2vw;
  vertical-align: middle;
}
.menu li:last-child {
  margin-right: 0;
}
.menu input {
  text-align: center;
  width: 35%;
  height: 30px;
  border-radius: 10px;
}
.menu button {
  width: 10%;
  height: 40px;
  font-size: 60%;
}

#logo {
  width: 30%;
  height: auto;
}

#carrito {
  width: 5%;
  height: auto;
}

#notificacion {
  width: 5%;
  height: auto;
}

.selectorPaginas {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #011126;
  margin-bottom: 20px;
}
.selectorPaginas ul {
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.selectorPaginas li {
  list-style: none;
  display: inline;
  width: 100%;
  margin: 5%;
}
.selectorPaginas button {
  width: 100%;
  height: 30px;
  font-weight: bold;
  font-size: 70%;
  align-items: center;
  justify-content: center;
}

.productosMasVendidos {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column; /*esto lo utilizamos para que las cosas que esten en este div sean en forma de columna uno abajo de la otra*/
  align-items: center;
  justify-content: center;
  background-color: #023059;
}
.productosMasVendidos h1 {
  text-align: center;
  color: white;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.productos {
  width: 100%;
  display: flex;
  gap: 3%;
  justify-content: center;
  overflow: visible;
}

.producto {
  border: solid 4px black;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  text-align: center;
  align-items: center;
  height: 300px;
  width: 200px;
  background-color: white;
  border-radius: 10px;
  transition: all 1s;
}
.producto:hover {
  transform: scale(1.15);
  background-color: aquamarine;
}
.producto img {
  height: 130px;
  width: 130px;
  margin-bottom: 20px;
}
.producto h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
  font-size: 100%;
}

.precio {
  align-items: center;
  color: green;
  font-size: 180%;
}

#tituloNuevo {
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 40px;
}

.productosNuevos {
  margin-top: 20px;
  padding-top: 10px;
  background-color: #023059;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
}

.contendeorProductosNuevos {
  width: 100%;
}

.login {
  margin: 0;
  padding: 0;
  color: white;
  background: linear-gradient(to right, #023059, #011126);
}

.contendorLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  height: 600px;
  max-width: 400px;
  background-color: black;
  border: 3px solid white;
  border-radius: 10px;
  gap: 20px;
}
.formulario h1 {
  font-size: 25PX;
  margin-bottom: 10px;
}
.formulario img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.username input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
}

.contraseña input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: 1px solid white;
}

input[type=submit] {
  border: none;
  outline: none;
  width: 100%;
  background-color: #023059;
  color: white;
}

.finalDePagina {
  display: flex;
}

#recordarme {
  margin-left: -60px;
}

.infoDeContacto {
  width: 100%;
  height: auto;
  background-color: black;
  color: white;
  display: grid;
  grid-template-areas: "qs ub rs" "qs ub rs" "qs ub rs";
  gap: 3%;
}

.quienesSomos {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: qs;
  width: 100%;
  height: auto;
  height: auto;
  padding: 10px;
}
.quienesSomos h2 {
  padding: 10px;
}

#imagenFinal {
  height: 60px;
}

.ubicacion {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  grid-area: ub;
}
.ubicacion h4 {
  margin-top: -40px;
}
.ubicacion iframe {
  margin-top: 50px;
}

.redesSociales {
  grid-area: rs;
  display: inline;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.redesSociales h4 {
  margin: 30px;
}
.redesSociales img {
  display: inline;
  height: 40px;
  margin: 20px;
}

.productospag {
  background-color: #023059;
  display: inline;
}

.contenedorTitulo {
  background-color: #023059;
  width: 100%;
  height: auto;
  display: inline-block;
  justify-items: center;
  text-align: center;
}
.contenedorTitulo h1 {
  color: white;
}

.contenedorProductos {
  background-color: #023059;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filaArriba {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filaAbajo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categorias {
  text-align: center;
  height: 150px;
  width: 140px;
  background-color: grey;
  border-radius: 20px;
  border: solid 2px;
  margin: 5px;
}
.categorias h2 {
  margin-bottom: 50px;
  font-size: 17px;
}
.categorias img {
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
}

.pcArmadas {
  background-color: #023059;
}

.tituloCategoriasPC {
  width: 100%;
  height: auto;
  text-align: center;
}
.tituloCategoriasPC h1 {
  font-size: 40px;
  color: white;
}

.contenedorCategorias {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: grey;
  border-top: solid 5px black;
  color: black;
  text-align: center;
}

.card-text {
  text-align: center;
  color: black;
  font-size: 80%;
}

.categoria img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
.categoria h2 {
  margin-bottom: 20px;
  text-decoration: underline;
}
.categoria p {
  font-weight: bold;
}

.sertec {
  background-color: #0e182a;
  display: flex;
  flex-direction: column;
}

.servt {
  font-size: 90%;
  height: -moz-max-content;
  height: max-content;
  color: white;
  background-color: #0e182a;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 1100px;
  grid-template-areas: "bn bn bn bn" "ct ct ct ct" "p1 p1 . ." ". p2 p2 p2" "p3 p3 p3 ." ". p4 p4 p4" "p5 p5 p5 p5";
  gap: 3%;
}
.servt img {
  height: 100px;
  width: 40%;
  justify-items: right;
}

.contenedorserTitulo {
  grid-area: ct;
  text-align: center;
  justify-content: center;
  color: white;
}

.baner {
  grid-area: bn;
  display: flex;
  align-items: center;
  justify-content: center;
}
.baner img {
  height: 50%;
}

.parrafo1 {
  grid-area: p1;
  background-color: #15233d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-left: 2%;
  border: solid black 4px;
}
@media (min-width: 855px) {
  .parrafo1 {
    transition: all 2s;
  }
  .parrafo1:hover {
    transform: translatex(700px);
  }
}

.parrafo2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  grid-area: p2;
  background-color: #1b2b48;
  padding-left: 2%;
  border: solid black 4px;
}
@media (min-width: 855px) {
  .parrafo2 {
    transition: all 2s;
  }
  .parrafo2:hover {
    transform: translatex(-400px);
  }
}

.parrafo3 {
  grid-area: p3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #214053;
  width: 100%;
  height: auto;
  padding-left: 2%;
  border: solid black 4px;
}
@media (min-width: 855px) {
  .parrafo3 {
    transition: all 2s;
  }
  .parrafo3:hover {
    transform: translatex(350px);
  }
}

.parrafo4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  grid-area: p4;
  background-color: #275861;
  padding-left: 2%;
  border: solid black 4px;
}
@media (min-width: 855px) {
  .parrafo4 {
    transition: all 2s;
  }
  .parrafo4:hover {
    transform: translatex(-400px);
  }
}

.parrafo5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  grid-area: p5;
  background-color: #2d6570;
  padding: 2%;
  border: solid black 4px;
}

@media (max-width: 855px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
  }
  .menu {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #011126;
    align-items: center;
    justify-content: center;
  }
  .menu ul {
    padding: 10px;
    width: 100%;
    height: auto;
  }
  .menu li {
    width: 100%;
    list-style: none;
    margin-right: 2vw;
  }
  .menu li last-child {
    margin-right: 0;
  }
  .menu input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
  }
  .menu button {
    width: 33%;
    height: 40px;
    font-size: 60%;
  }
  #logo {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  #carrito {
    width: 30%;
    height: auto;
  }
  #notificacion {
    width: 30%;
    height: auto;
  }
  .selectorPaginas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  .selectorPaginas ul {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  .selectorPaginas li {
    width: 100%;
    margin: 2%;
  }
  .selectorPaginas button {
    width: 100%;
    height: 8vh;
    font-weight: bold;
    font-size: 70%;
  }
  .productosMasVendidos {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column; /*esto lo utilizamos para que las cosas que esten en este div sean en forma de columna uno abajo de la otra*/
    align-items: center;
    justify-content: center;
    background-color: #023059 h1;
    background-color-text-align: center;
    background-color-color: white;
    background-color-text-decoration: solid;
  }
  .productos {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10%;
  }
  .producto {
    margin: 10px 5px;
    text-align: center;
    height: 150px;
    width: 90%;
    background-color: white;
    border-radius: 10px;
    transition: all 1s;
  }
  .producto:hover {
    transform: scale(1.25);
    background-color: aquamarine;
  }
  .producto img {
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
  }
  .producto h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
    font-size: 100%;
  }
  .precio {
    align-items: center;
    color: green;
    font-size: 90%;
  }
  .infoDeContacto {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    display: grid;
    grid-template-areas: "qs" "ub" "rs";
    gap: 5%;
  }
  .quienesSomos {
    grid-area: qs;
    height: auto;
    width: 100%;
  }
  .quienesSomos h2 {
    padding: 10px;
  }
  #imagenFinal {
    height: 60px;
    margin-bottom: 10px;
  }
  .ubicacion {
    grid-area: ub;
  }
  .ubicacion h4 {
    margin-top: 50px;
  }
  .ubicacion iframe {
    margin-top: 50px;
  }
  .redesSociales {
    grid-area: rs;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: black;
    justify-content: center;
    align-items: center;
  }
  .redesSociales h4 {
    margin: 30px;
  }
  .redesSociales p {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .redesSociales a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .redesSociales img {
    width: 50%;
    height: auto;
  }
  .productospag {
    background-color: #023059;
    display: inline;
  }
  .contenedorTitulo {
    background-color: #023059;
    width: 100%;
    height: auto;
    display: inline-block;
    justify-items: center;
    text-align: center;
  }
  .contenedorTitulo h1 {
    color: white;
  }
  .contenedorProductos {
    background-color: #023059;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .filaArriba {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .filaAbajo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .categorias {
    text-align: center;
    height: 150px;
    width: 140px;
    background-color: grey;
    border-radius: 20px;
    border: solid 2px;
    margin: 5px;
  }
  .categorias h2 {
    margin-bottom: 50px;
    font-size: 17px;
  }
  .categorias img {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
  }
  .servt {
    font-size: 90%;
    color: white;
    background-color: #0e182a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    gap: 10px;
  }
  .servt .servt img {
    width: 100px;
  }
}/*# sourceMappingURL=main.css.map */